/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
body {
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.IRL {
  stroke: #aaa;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

path:hover {
  fill: #E9CB60;
}

path.active {
  fill: gray;
}

/* responsive */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*height: ;*/
    /*padding-top: 185px;*/
    padding-bottom: 100%;  /*aspect ratio*/ 
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    /*position: absolute;*/
    top: 10px;
    left: 0;
}

#svg-container {
  /*flex: 1 1 auto;*/
}