/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
body {
    margin: 0;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.IRL {
  stroke: #aaa;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

path:hover {
  /*fill: #E9CB60;*/
  fill: gray !important;
  /*stroke: black;
  stroke-width: 2px;*/
}

path.active {
  fill: gray;
}

path.attacker:hover {
  fill: rgb(0, 85, 33) !important;
  /*transparency: 1.0 !important;*/
}

path.victim {
  /*fill: black !important;*/
}

path.victim path.attacker {
  /*fill: black !important;*/
}

/**
 * SUNBURST Diagram
 */

text.caption {
  text-anchor: middle;
}

text#caption_country {
  font-size: 2.5em;
  font-weight: bold;
}

text#caption_type {
  font-size: 1.6em;
}

text#caption_ip {
  font-size: 1.4em;
}

.visible_strip {
  visibility: visible;
}

.invisible_strip {
  visibility: hidden !important;
}



/* responsive */
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*height: ;*/
    /*padding-top: 185px;*/
    padding-bottom: 100%;  /*aspect ratio*/ 
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    /*position: absolute;*/
    top: 10px;
    left: 0;
}

#svg-container {
  /*flex: 1 1 auto;*/
}

.sunburst_strip:hover {
  /*stroke: black !important;*/
  stroke-width: 2px;
  /*opacity: 1 !important;*/
}