body {
  font-family: sans-serif;
  font-size: 12px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 180px;
}

h2 {
  font-size: 15px;
  font-weight: bolder;
  /*margin-bottom: ;*/
}

h3 {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 0.4em;
  margin-left: 10px;
}


.menu-column {
  width: 22%;
  float: left;
  margin-top: 20px;
}

.button {
  width: 150px;
  height: 45px;
}


#checkbox-showLabel {
  margin-top: 35px;
}

#column-labels {
  margin-left: 20px;
}

#column-buttons {
  margin-top: 40px;
}

#topmenu {
  background-color: #dddddd;
  width: auto;
  height: 185px;
  border: 1px solid black;
}

.check-attacks {
  display: block;
  background-color: #fff;
  height: 105px;
  width: 218px;
  padding: 0;
  overflow-y: scroll;
  border: 1px solid gray;  
}

.country-selector .ui-dialog-titlebar {
    display: none;
}

.country-selector .ui-dialog-buttonset {
    width: 90%;
}

.country-selector button {
    width: 45%;
}

.country-selector .ui-dialog-buttonpane {
    padding: 0;
}
